dialog {
  margin: auto;
  border: 0;
  width: min(650px, 90vw);
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.55);
  }
  &.dialog--small {
    width: min(450px, 90vw);
  }
}

.modal-container {
  padding: 40px 70px 40px 50px;
  display: flex;
  flex-direction: column;
  gap: 23px;

  fieldset {
    .terms__inner {
      display: flex;
      gap: 12px;
      align-items: center;
    }
  }
}

.modal-single-container {
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: min(calc(100vw - 60px), 500px);
}

.close {
  background-color: var(--primary-bg);
  border-radius: 100%;
  width: 32px;
  height: 32px;
  font-size: 24px;
  color: #fff;
  position: absolute;
  right: 14px;
  top: 12px;
}
