.entries {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-block-start: var(--margin);
  margin-block-end: var(--margin);
}

.entry {
  background-color: #fafafa;
  border-radius: var(--border-radius);
  display: flex;
  position: relative;
  @container (max-width: 710px) {
    flex-direction: column;
  }
}

.entry__link {
  display: contents;
}

.entry__info {
  padding: 30px 33px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  h5 {
    font-weight: normal;
    color: var(--primary-text);
  }
  h4 + p {
    margin-top: -4px;
  }
  p {
    margin-top: 5px;
    &.entry__description {
      font-size: 16px;
      margin-top: 8px;
    }
  }
}

.gallery {
  display: contents;
}

.gallery__container {
  background-color: #fff;
  flex: 0 0 370px;
  display: flex;
  overflow: hidden;
  position: relative;
  @media screen and (max-width: 767px) {
    flex: 1;
    flex-direction: column;
  }
  .gallery__photos {
    aspect-ratio: 370 / 280;
    object-fit: cover;
    @media screen and (max-width: 767px) {
      margin: auto;
    }
  }
}

.gallery__inner {
  display: flex;
  flex: 1;
  transition: transform 250ms ease;
}

.gallery__nav {
  background: transparent;
  border: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  svg {
    pointer-events: none;
  }
}
.gallery__nav--right {
  right: 20px;
}
.gallery__nav--left {
  left: 20px;
}

.single-entry {
  > .gallery {
    display: flex;
    gap: var(--margin);
    height: 500px;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      height: auto;
      .gallery__thumbnails {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        max-width: none;
        order: 1;
      }
    }
    .gallery__container {
      flex: auto;
    }
    .gallery__photos {
      flex: 0 0 100%;
      object-fit: cover;
      cursor: pointer;
    }
    .gallery__nav {
      transform: scale(1.5);
    }
  }
  .list {
    font-size: 16px;
  }
  .address {
    margin-block-start: 8px;
    margin-block-end: 8px;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  .entry__list {
    gap: 24px;
    margin-block-end: 16px;
  }
  .entry__title {
    font-weight: 700;
    color: var(--primary-titles);
  }
  .entry__description {
    color: var(--primary-text);
  }
  .pill-container {
    display: flex;
  }
  .pill {
    margin-block-end: 10px;
  }
  h2 + h5 {
    margin-block-start: -3px;
  }
}

.single-container {
  display: flex;
  gap: var(--margin);
  align-items: flex-start;
  padding: 32px 0;
  .entry__info {
    flex: 1;
    padding: 0;
    p {
      margin-block-start: 0;
    }
  }
  @media screen and (max-width: 1023px) {
    flex-direction: column;
  }
}

.gallery__thumbnails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 86px;
  gap: 25px;
  min-width: 197px;
  max-width: 270px;
  .gallery__photos {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.address {
  margin-block-start: 3px;
  h5 {
    font-weight: bold;
    color: var(--primary-titles);
  }
  h6 {
    font-size: 18px;
  }
}

.entry__description {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: clip;
}

.entry__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.entry__list-item {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--primary-text);
  svg {
    margin-inline-end: 3px;
  }
}

.entry__list-item span {
  font-weight: bold;
  color: var(--primary-titles);
}

.entry__features {
  display: flex;
  flex-wrap: wrap;
  gap: 16px var(--margin);
  margin-block-end: 16px;
}

.entry__heart {
  position: absolute;
  top: 28px;
  right: 33px;
  cursor: pointer;
}

.entry__contact {
  background-color: #fafafa;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 29px 35px;
  h5 {
    font-weight: 700;
    color: var(--primary-titles);
  }
  @media screen and (max-width: 1023px) {
    width: 100%;
  }
}

.contact-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 24px 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  @container (max-width: 400px) {
    flex-direction: column;
    .contact-card__info {
      text-align: center;
    }
  }
}
.contact-card__info {
  flex: 1;
}
.contact-card__phone {
  display: flex;
  align-items: center;
  gap: 5px;
}
.contact-card__profile-pic {
  width: 67px;
}

.related {
  margin-block-start: 64px;
  .address {
    p {
      margin-block-start: 0;
    }
  }
  .entry__list {
    gap: 16px 24px;
    .list {
      font-size: 14px;
    }
  }
}
.related-listings {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-marker-group: after;
  margin: var(--margin) 0;
  columns: 1;
  anchor-name: --carousel;
  height: 720px;
  text-align: center;
  container-type: size;
  &::scroll-button(left) {
    content: '⮜' / 'Scroll left';
    position-area: span-right center;
    text-indent: -5px;
  }
  &::scroll-button(right) {
    content: '⮞' / 'Scroll right';
    position-area: span-left center;
    text-indent: 5px;
  }
  &::scroll-button(*) {
    background: var(--primary-bg);
    border: 0;
    border-radius: 100%;
    position-anchor: --carousel;
    position: absolute;
    z-index: 10;
    font-size: 35px;
    color: #fff;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  &::scroll-button(*):disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &::scroll-marker-group {
    position: fixed;
    position-anchor: --carousel;
    position-area: block-end;
    display: grid;
    grid-auto-columns: 20px;
    grid-auto-flow: column;
    gap: 20px;
    margin-block-start: 16px;
  }
  &::column {
    scroll-snap-align: center;
    scrll-snap-stop: always;
  }
  &::column::scroll-marker {
    content: '';
    border: 1px solid #ccc;
    border-radius: 100%;
    aspect-ratio: 1;
    width: 16px;
  }
  &::column::scroll-marker:target-current {
    background-color: var(--primary-bg);
    border-color: transparent;
  }
  .entry {
    width: min(354px, 100%);
    height: calc(100cqh - 16px);
    display: inline-grid;
    align-items: flex-start;
    margin: 0 16px;
    text-align: left;
    .entry__heart {
      top: 308px;
    }
    .entry__info {
      block-size: calc(100cqh - 284px);
    }
  }
}
