.header {
  padding: 29px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 30px;
}

.logo {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  gap: var(--margin);

  a {
    font-weight: bold;
    color: var(--primary-bg);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.notifications {
  position: relative;
}
.notifications__count {
  background-color: var(--error);
  border-radius: 100%;
  font-size: 11px;
  color: #fff;
  position: absolute;
  right: -8px;
  top: -8px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-popover {
  position-area: bottom center;
  border: 0;
  padding: 15px;
  margin-block-start: 20px;
}
