.header {
  padding: 25px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 30px;
  nav img {
    width: 24px;
  }
}

.logo {
  display: flex;
  align-items: center;
  svg {
    pointer-events: none;
  }
}

.notifications {
  position: relative;
}
.notifications__count {
  background-color: var(--error);
  border-radius: 100%;
  font-size: 11px;
  color: #fff;
  position: absolute;
  right: -8px;
  top: 0;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  gap: var(--margin);
  flex-shrink: 0;

  a {
    font-weight: bold;
    color: var(--primary-bg);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.nav-popover {
  background-color: transparent;
  opacity: 0;
  border: 0;
  border-radius: var(--border-radius);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
  position-area: bottom span-left;
  position-try-fallbacks:
    flip-block,
    flip-inline,
    flip-block flip-inline;
  top: auto;
  min-width: 220px;
  overflow: initial;
  transition:
    display 500ms,
    opacity 500ms;
  transition-behavior: allow-discrete;
  a {
    padding: 8px 0;
    cursor: pointer;
  }
  &::before {
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: -10px;
    right: 4px;
  }
  &:popover-open {
    opacity: 1;
    @starting-style {
      opacity: 0;
    }
  }
}

.nav-popover__inner {
  background-color: #fff;
  border-radius: var(--border-radius);
  padding: 15px;
}

#notifications {
  .nav-popover__inner {
    padding: 0 15px;
  }
}
.notification {
  display: flex;
  color: var(--primary-text);
  gap: 10px;
  padding: 17px 0;
  max-width: 300px;
  + .notification {
    border-top: 1px solid #ebebeb;
  }
}
.notification__pic {
  display: flex;
  align-items: flex-start;
  width: 31px;
}
.notification__info {
  width: max-content;
  flex-grow: 1;
  a:not(.button) {
    text-decoration: underline;
    color: inherit;
    padding: 0;
    display: inline;
  }
  small {
    font-size: 11px;
    display: flex;
    justify-self: flex-end;
    margin-block-start: 3px;
  }
  a.button {
    justify-self: flex-start;
    margin-block-start: 16px;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    .logo {
      margin: auto;
    }
    nav {
      position: fixed;
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: 100;
      background: #fff;
      padding: 15px 30px;
      justify-content: space-between;
    }
  }
}
