.hero {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  padding: 64px 0 var(--margin);
  margin-block-start: -64px;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @media screen and (max-width: 1023px) {
      display: none;
    }
  }
  h1,
  h6 {
    text-wrap: balance;
  }
  a {
    margin-right: auto;
  }
}
