.user-profile-header {
  display: flex;
  gap: var(--margin);
  container-type: inline-size;
  @container (max-width: 500px) {
    flex-direction: column;
    .user-profile-header__info {
      align-items: center;
    }
  }
  @media screen and (max-width: 767px) {
    align-items: center;
  }
}

.user-profile-header__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.user-profile-header__info-item {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--primary-text);
  svg {
    width: 30px;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}
.user-profile-header__pic {
  width: 250px;
  @media screen and (max-width: 767px) {
    min-width: 150px;
  }
}

.user-profile-content {
  margin-block-start: calc(var(--margin) * 2);
  display: flex;
  gap: calc(var(--margin) * 2);
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.user-profile-content__left {
  width: 40%;
  @media screen and (max-width: 767px) {
    width: auto;
  }
}
.user-profile-content__right {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 45px;
  @media screen and (max-width: 767px) {
    width: auto;
  }
}

.rating-container {
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  gap: 24px;
  margin-block-end: 56px;
  @media screen and (max-width: 767px) {
    margin: 0;
  }
}
.rating {
  display: flex;
  align-items: center;
  gap: 10px;
  small {
    width: 30px;
    &:first-child {
      width: 65px;
      text-align: right;
    }
  }
  progress {
    background-color: transparent;
    flex: 1;
    &::-webkit-progress-bar {
      border-radius: var(--border-radius);
      background-color: #ccc;
    }
    &::-webkit-progress-value {
      border-radius: var(--border-radius);
      background-color: var(--primary-bg);
    }
  }
}

.rating-item {
  display: flex;
  gap: 16px;
}
.rating-item__info {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 5px;
  a {
    color: inherit;
  }
  h6 {
    color: #4f4f4f;
  }
}
.rating-item__profile-pic {
  width: 67px;
}

.rating-reply {
  padding: 10px 0 10px 20px;
  border-inline-start: 1px solid #ccc;
}

.rating-stars {
  display: flex;
  gap: 2px;
}
